a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #DEBBDD;
    font-weight: 500;
    text-decoration: none;
}

/* nav {
    background-color: #7E459B;
} */

.icones a:hover {
    color: #7E459B;
    text-decoration: none;
}

.icones i {
    font-size: 1.6rem;
    color: #7E459B; 
}

.imagem-carousel {
    object-fit: cover;
    object-position: 0 35%;
    height: 62vh;
}

.redes-sociais p {
    font-size: 1.2rem;
}

.bg-roxo {
    background-color: #7E459B;
}

.rodape a {
    color: rgb(213, 129, 255);
}

.habilidades i {
    font-size: 2rem;
}

.btn {
    background-color: #7E459B;
}

.btn:hover {
    color: #DEBBDD;
    font-weight: 500; 
}

.imagem-cards {
    object-fit: cover;
    object-position: 0 0;
    height: 40vh;
}

/* .bg-none {
    background-color: transparent;
    color: black;
} */

.bg-lilac {
    background-color: #DEBBDD;
}

/* .border-card {
    box-shadow: 0px 1px 18px 0px rgba(126,69,155,1);
} */